{% extends 'blog/base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>HanRimJO</h1>
            <span class="subheading">신입 백엔드 개발자 조한림 입니다</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% endblock %}