{% extends 'blog/base.html' %}


{% block header %}
{% if object.thumbnail_image %}
<header class="masthead" style="background-image: url('{{ object.thumbnail_image.url }}')">
{% else %}
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ object.title }}</h1>
                    <span class="meta">Posted by
              <a href="#">{{ object.author }}</a>
              on {{ object.created }}</span>
                {% if object.category %}
                <span class="badge badge-success float-right">{{ object.category }}</span>
                {% else %}
                <span class="badge badge-secondary float-right">기타</span>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- Post Content -->
{% block content %}
    {% if request.user == object.author %}
        <button class="btn btn-outline-danger float-right ml-1" data-toggle="modal" data-target="#DeletePostModal">Delete</button>
        <button type="button" onclick="location.href='{{ object.get_update_url }}'" class="btn btn-sm btn-outline-primary float-right">EDIT</button>
    {% endif %}
    {{ object.get_markdown_content | safe }}

    <!-- Modal -->
    <div class="modal fade" id="DeletePostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">정말 삭제하시겠습니까?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ object.get_delete_url }}" method="post">{% csrf_token %}
                        {{ object.title }}

                        <div>
                            <button type="submit" class="btn btn-danger float-right ml-1">Delete</button>
                            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{% load disqus_tags %}
    <div>
        {% disqus_show_comments %}
    </div>
{% endblock %}



<hr>