{% extends 'blog/base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>HanRimJO</h1>
            <span class="subheading"> - Start Backend Developer</span>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <button onclick="location.href='/create/'" class="btn btn-outline-info float-right">create</button>
    {% endif %}
    {% if object_list.exists %}
        {% for p in object_list %}
            <div class="post-preview">
              <a href="{{ p.get_absolute_url }}">
                    <h2 class="post-title">
                      {{ p.title }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ p.content | truncatewords:20 }}
                    </h3>
              </a>
                {% if p.category %}
                <span class="badge badge-info float-right">{{ p.category }}</span>
                {% else %}
                <span class="badge badge-secondary float-right">기타</span>
                {% endif %}
              <p class="post-meta">Posted by
                <a href="#">{{ p.author }}</a>
                on {{ p.created }}
              </p>
            </div>
        {% endfor %}
    {% else %}
    <h2>게시물이 아직 없습니다</h2>
    {% endif %}


    <hr>
<!-- Pager -->
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for page in page_range %}
        <li {% if page == page_obj.number %} class="page-item active"{% endif %}><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}