{% extends 'blog/base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            {% if category %}
            <h1>{{ category }}</h1>
            <span class="subheading"></span>
            {% elif search_info %}
            <h1>{{ search_info }}</h1>
            <span class="subheading">총 {{ object_list.count }}개의 검색 결과</span>
            {% else %}
            <h1>HanRimJO</h1>
            <span class="subheading"> - Start Backend Developer</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div id="main-div" class="col-lg-8 col-md-8 mx-auto">
    {% if user.is_authenticated %}
        <button onclick="location.href='/create/'" class="btn btn-outline-info float-right">create</button>
    {% endif %}
    {% if object_list.exists %}
        {% for p in object_list %}
            <div class="post-preview">
              <a href="{{ p.get_absolute_url }}">
                    <h2 class="post-title">
                      {{ p.title }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ p.content | truncatewords:20 }}
                    </h3>
              </a>
                {% if p.category %}
                <span class="badge badge-info float-right">{{ p.category }}</span>
                {% else %}
                <span class="badge badge-secondary float-right">기타</span>
                {% endif %}
              <p class="post-meta">Posted by
                <a href="#">{{ p.author }}</a>
                on {{ p.created }}
              </p>
            </div>
        {% endfor %}
    {% else %}
    <h2>게시물이 아직 없습니다</h2>
    {% endif %}


    <hr>
<!-- Pager -->
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for page in page_range %}
        <li {% if page == page_obj.number %} class="page-item active"{% endif %}><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}

{% block category %}
<div class="col-lg-4 col-md-4" id="side-div">
    <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input id="search-input" type="text" onkeyup="wait_for_enter()" class="form-control"
                               placeholder="Search for...">
                        <span class="input-group-btn">
                <button id="search-btn" class="btn btn-primary ml-1" type="button" onclick="search_post();">Go!</button>
              </span>
                    </div>
                </div>
            </div>
    <!-- Categories Widget -->
            <div class="card my-4" id="category-card">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in category_list %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">{{ category.name }} ({{ category.post_set.count }})</a>
                                </li>
                                {% endfor %}
                                <li>
                                    <a href="/category/_none/">기타 ({{ posts_without_category }})</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}